<div class="page-content {{name}}">
    <div class="main-content">
        <h2>{{title}}</h2>
        <div class="post-content">
            {{{content}}}
        </div>
    </div>

    {{{sidebar}}}
</div>