<!DOCTYPE html>
<html lang="{{language}}">
<head>
    <meta charset="{{charset}}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;"/>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{stylesheet_url}}" />
    <link rel="pingback" href="{{pingback_url}}" />